RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

<FilesMatch "\.(htaccess|htpasswd|ini|phps|log|bak|txt)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>
